{# Comentarios #}
{% set nombre_curso = 'Bases de Twig' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - TWIGs</title>
</head>
<body>
    <h1> {{ nombre_curso }}</h1>
    <h2>{{ name }}</h2>
    <h2>Mis libros</h2>
    <ul>
        {% for libro in libros %}
            <li>{{ libro }}</li>
        {% endfor %}
    </ul>

    {% if libro_terminado == false %}
        <p>No has terminado de leer</p>
    {% endif %}

    {% if libro_terminado %}
        <p>Libro finalizado</p>
    {% else %}
        <p>No has terminado de leer</p>
    {% endif %}
</body>
</html>
