<header>

    <nav>

        <h2>ONIX</h2>
        <ul>
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Productos</li>
            <li>Contactenos</li>
            <li>PQRS</li>
        </ul>

    </nav>

</header>